<div class="login-container">
  <mat-card class="card" width=300>
    <mat-card-header>
      <mat-card-subtitle>Sign In</mat-card-subtitle>
      <mat-card-title>Welcome</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
            required
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="full-width"
        >
          Login
        </button>
      </form>
      <mat-divider></mat-divider>

      <div class="register-link">
        <a mat-button (click)="goToRegister()">Register</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
